body {

}

.section-one {
    background-color: #1f2937;
    color: #F9FAF8;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
}



ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

#button {
    background-color: rgb(79, 143, 240);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    border: none;
  
    color: #fff;
    background: #3882F6;
     background-origin: border-box;
    box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}



.title1 {
    font-size: 48px;
    font-weight: bold;
}

.second {
    font-size: 18px;
    color: #E5E7EB;
    padding-bottom: 8px;
}

.holder {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(102, 128, 136);
    margin: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.intro {
    display: flex;
    justify-content: center;
}

.text1 {
    width: 450px;
    padding: 10px;
}



.section-two {
    display: flex;
    flex-direction: column;
}

.square {
    border: 2px solid blue;
    width: 100px;
    height: 100px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 60px;
    text-align: center;
}

.title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: bolder;
    margin: 20px;
    color: #1f2937;

}

.item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    gap: 10px;
}

.text2 {
    margin-bottom: 20px;
}

.section-three {
    padding: 20px;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.text3 {
    width: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.quote {
    font-size: 36px;
    color: #1f2937;
    width: 600px;
    font-style: italic;
}

.pablo {
    font-size: 20px;
    font-weight: bold;
    align-self: flex-end;
    margin: 10px;
}

.section-four {
    display: flex;
    justify-content: center;
    align-items: center;
}
.text4 {
    margin: 40px;
    background-color: #3882F6;
    border-radius: 5px;
    padding: 15px;
    display: flex;
    justify-content: space-around;
    width: 700px;
    color: #F9FAF8;
}

.call {
    font-weight: bold;
}

#up {
    background-color: #3882F6;
    border: 2px solid #F9FAF8;
    color: #F9FAF8;
    border-radius: 5px;
}