.section-one {
    background-color: #1f2937;
    color: white;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

#button {
    background-color: rgb(79, 143, 240);
    color: white;
}

.title {
    font-size: 48px;
    font-weight: bold;
}

.holder {
    width: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(102, 128, 136);
    margin: 10px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.intro {
    display: flex;
    justify-content: center;
}

.text {
    width: 450px;
    padding: 10px;
}